body{
background-color:#f1f6f9;
    }

header{

  background-image: url(phones.jpg);
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.logo{
  max-width: 100%;
  width:14%;

}

.navItem{
text-decoration: none;
font-weight: bold;
padding: 5px;
font-size: 1.4em;
color: #f9f3f3;
  margin: 3px;
}

.checkout{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  font-style: italic;
  color: #f9f3f3;
    margin: 3px;
}

.unordred_list{
list-style: none;
margin-right:38px;

}

#main{
text-align:center;
   }

#img{
     height:auto;
     max-width:100%;
     width:140px;
     border-radius: 20%;
    }

footer{

text-align:center;
    }

@media only screen and (min-width: 480px) {
      .nav {
        display: flex;
      }
    }

    @media only screen and (min-width: 700px) {
      header {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

    }
